:root {
  font-family: system-ui, sans-serif;
  line-height: 1.4;
  font-weight: 400;
  color: #010100;
  background-color: #F5F4F4;
  --topbar-height: 120px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow: auto;
  background: radial-gradient(circle at top, #F5F4F4 0%, #E8DFD5 35%, #564B49 100%);
}

#root {
  min-height: 100vh;
}

button,
input,
select {
  font-family: inherit;
}
